@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text: #232426;
  --hover-blue: #8DD6FD;
  --magenta: #F56CCE;
  --cyan: #00FFFF;
  --neongreen: #21FF58;
  --hover-orange: #F24D00;
  --yellow: #FFD400;
  --pink: #FF3A96;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'game_over';
  src: url('../public/assets/fonts/Game-Over.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zerovelo';
  src: url('../public/assets/fonts/ZeroVelocityBRK.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sporty';
  src: url('../public/assets/fonts/Born2bSportyFS.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bayon';
  src: url('../public/assets/fonts/Bayon-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hepta';
  src: url('../public/assets/fonts/HeptaSlab-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Utility classes */
.font-navbar {
  font-family: 'game_over', sans-serif;
  font-size: 100px;
  line-height: 100px;
  color:var(--foreground);
}

.font-main {
  font-family: 'zerovelo', sans-serif;
  color: var(--magenta);
}

.font-sub {
  font-family: 'sporty', sans-serif;
  color: var(--hover-blue);
  letter-spacing: 7px;
}

.font-decor {
  font-family: 'sporty', sans-serif;
  font-size: 60px;
}

.font-title {
  font-family: 'bayon', sans-serif;
  font-size: 100px;
}

.font-body {
  font-family: 'hepta', sans-serif;
  font-size: 40px;
  color: var(--foreground);
}

.white-rectangle {
  width: 750px;
  height: 350px;
  border: 3px solid var(--foreground);
}

.cyan-rectangle {
  width: 100px;
  height: 40px;
  border: 3px solid var(--cyan);
}

.pink-rectangle {
  width: 1180px;
  height: 450px;
  border: 3px solid var(--pink);
}

.green-rectangle {
  width: 1180px;
  height: 600px;
  border: 3px solid var(--neongreen);
}

.green-square {
  width: 130px;
  height: 130px;
  border: 3px solid var(--neongreen);
}

.white-line {
  width: 2px;
  height: 100%;
  background-color: var(--foreground);
}

.enter-button {
    transition: all 0.3s ease;
}

.enter-button:hover {
    background-color: #0000ff;
    border-color: #007A7A;
}

.nav-link {
  position: relative;
  display: inline-block;
  text-align: right;
}

.nav-link::before {
  content: '';
  font-family: 'sporty', sans-serif;
  font-size: 45px;
  left: -1.5em;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.nav-link:hover::before {
  content: '▶  ';
  opacity: 1;
}

.page-nav {
  position: relative;
  display: inline-block;
  text-align: right;
}

.page-nav::before {
  content: '';
  font-family: 'sporty', sans-serif;
  font-size: 25px;
  line-height: 45px;
  left: -2em;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.page-nav:hover::before {
  content: '▶  ';
  opacity: 1;
}

.blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-yellow {
  animation: blink-yellow 1s step-end infinite;
  color: var(--yellow);
}
@keyframes blink-yellow {
    0%, 100% {
    color: white;
  }
  50% {
    color: var(--yellow);
  }
}

@keyframes warningBlink {
  0%, 50%, 100% {
    color: #FF2121;
    background-color: transparent;
  }
  25%, 75% {
    color: var(--background);
    background-color: #FF2121;
  }
}
.blink-warning {
  animation: warningBlink 2s infinite;
  padding-left: 10px;
  margin-top: -40px;
  margin-bottom: -40px;
  display: inline-block;
}

.auth-link {
  position: relative;
  line-height: 30px;
}

.auth-link::after {
  content: '';
  font-family: 'game_over', sans-serif;
  margin-left: 1px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.auth-link:hover::after {
  content: ' >';
  font-size: 50px;
  opacity: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  z-index: 10;
  contain: layout;
}